.juejin-layout-header {
    min-width: 100vw;
    position: fixed;
    top: 0;
    left: 0;
}

.juejin-layout-header-tab {
    width: 100%;
    height: 32px;
    color: blueviolet;
    display: flex;
    justify-content: space-around;
}

